<script lang="ts" setup>
  
</script>

<template>
  <img v-fullscreen-image="{
    imageUrl: 'https://placehold.co/2000x4000',
    withDownload: true,
    animation: 'blur',
    anchor: '#child',
  }"
    src="https://placehold.co/200x400"
  />
  <div id="parent">
    <div id="child">
    </div>
  </div>

</template>
